.labeled-checkbox-wrapper {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

    align-content: center;
    align-items: center;
    justify-content: end;
    justify-items: center;


    &.column {
        grid-auto-flow: row;
        justify-content: center;
        margin: 10px 0;
    }
}

.checkbox {
    display: inline-block;
    
    width: 16px;
    height: 16px;
    
    padding: 2px;
    margin-top: 4px;
    
    border-radius: 2px;
    border: 2px solid black;
}

.checkbox-graphic {
    width: 100%;
    height: 100%;

    border-radius: 1px;

    &.checked {
        background-color: black;
    }
}