.sidebar {
    width: 100%;
    height: 100%;

    input[type="search"] {
        height: 2em;
        width: clamp(25px, 100%, 200px);

        &:focus::placeholder {
            color: transparent;
          }
    }

}